@import "tailwindcss";

@theme {
  --color-primary: #06b6d4; /* Cyan 500 */
  --color-secondary: #0ea5e9; /* Sky 500 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
